@using Again2.Areas.Admin.ViewModel;
@using Again2.Models;

@{
    ViewData["Title"] = "Delete";
}
@model Slider

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/images/website-images//@Model.Image" style="max-width: 3000px" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text">@Model.Offer</p>
                    <div class="btn-box d-flex">
                        <form method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <a asp-action="Index" class="btn btn-primary">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


